

footer {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    margin-top: 50px;
  } 
  .cardContainer {
    margin-top: 20px;
    
  }
  .card {
    margin:0 auto;
    width: 75%;
    text-align: center;
   border: #6821A4 solid 3px;
    background-color: #fff8e0;

   
  }
  .navTDM{
    font-family: Old London alternate;
    color: black;
    font-size: 20px;
   
   
   }
   
  
  
  .p{
    font-family:Old london alternate ;
  }
  .customNav{
    position: fixed;
    width: 100%;
  
    background-color: transparent !important;
    background-size: cover;
    z-index:5;
    
    
  }
  .navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
    
   
  }
  .navbar-brand img {
  padding-right: 15px;
  width:150px;
  }
  .nav-item{
    margin:0px 15px;
  }
  
  

  .dropdown-item:focus, .dropdown-item:hover {
    text-decoration:none;
    background: black;
  
  }
  
  .customNav{
    color:white !important;
    }
  .navCTA{
    font-size: 15px;
  }
  .jumbotron{
    background-color:#fff8e0;
    background-size: cover;
    background-repeat: no-repeat;
    height:500px;
    height:calc(100vh-25px);
    display:flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .jumboCopy{
    width: 70%;
    min-width:500px;
    max-width:700px;
    color: white;
    text-align: center;
  }
  .robot{
    max-width: 90%;
    padding-top: 250px;
    padding-bottom: 60px;
  }
  
  

  
   .nav-link{
  font-family: old London alternate;
  font-size: 20px;
  }
  
  .navbar-brand{
    color: white;
    font-family: Old london Alternate;
    font-size: 50px;
    padding-top: 100px;
  }
  .content{
  padding: 50px;
  text-align: center;
  padding: 0px 30px 30px 30px;
  text-align: center;
  }
  .sectionHeading {
      padding: 50px;
      text-align: center;
      padding: 0px 30px 30px 30px;
      text-align: center;
      font-size: 40px;
    }
    .showsNear{
      padding: 50px;
      text-align: center;
      padding: 0px 30px 30px 30px;
      text-align: center;
      }
      .cardContainer{
        padding: 50px;
        text-align: center;
        padding: 0px 30px 30px 30px;
        text-align: center;
        }
  
  .emailContain{
    background: url(../images/emailBG.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height: 500px;
    color:black;
    
  }
  form{
    width: 500px;
    margin:35px auto;
    padding: 45px;
    border:1px solid #F2F2F2;
    -webkit-box-shadow:0 1px 4px rgba(0,0,0,3), 0 0 40px rgba(0,0,0,1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,3), 0 0 40px rgba(0,0,0,1) inset;
    box-shadow:0 1px 4px rgba(0,0,0,1),0 0 40px rgba(0,0,0,1);
    background-color: white;
  }
  #navbarDropdown,  .a{
    color:red;
  }
  
  .navTDM a{
   display: inline block;
    padding: 40px;
    width: auto;
    color:white;
  
  }
  .styled{
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    color: black;
    font-family: old london alternate;
    border-radius: 10px;
    background-color: #fff8e0;
    font-size: 25px;
    justify-content: center;
    margin-bottom: 30px;
   
  }
  
  
  .styled:hover {
    color: rgba(255, 0, 0, 1);
    border-color: red;
    cursor: pointer;
  }

  .TTF{
    font-family: old london alternate;
    font-size: 45px;
      display: block;
      margin-bottom: 30px;
      margin-top: 60px;
     text-align: center;
     color: #6821A4;
  }
 #ttf{
  display: inline-block;
  text-align: left;
  font-size: 20px;
  font-family: din condensed;
  margin-left:100px;
  margin-right:100px;
  

 }

 .TTF2{
  font-family: old london alternate;
  font-size: 26px;
   color: #6821A4;
}
#ttf2{
  margin: auto;
font-size: 12px;
font-family: din condensed;
}
